@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:ital,wght@0,300;1,300&display=swap');

/* CSS reset */
* { 
   padding: 0;
   margin: 0;
   Box-sizing: border-box;

}
html, 
body { 
    width: 100%;
    height: 100vh;
    position: relative;}

body {
    background-color : pink;
    Font-family: 'Kaushan Script', script;
    color: black
}
#my_avatar{
    width: 400px;
    border-radius: 60%;
}
#content{
    text-align: center;
    height: 100%;
}
#my-name{ 
   font-size: 'Kaushan script', script;
   color: deeppink;
}
#Left-side{ 
    position:absolute;
    top: 16px;
    left: 16px;
}
#left-side > a{
    margin-right: 16px;
}
#right-side{
    position:absolute;
    top: 16px;
    right: 16px;
}

a{
   color: blue;
   text-decoration: none; 
   border-bottom: 1px dotted maroon; 
}
footer{
   position: absolute;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
}
footer a:first-child{
    margin-right: 16px;
}
#content div {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Projects */
#hero-banner{
     background: linear-gradient(45deg, purple, black, pink, black, yellow);
     padding-top: 16px;
     padding-bottom: 16px;

}
#hero-banner > div {
    width: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
}

#hero-banner > div > div {
    display: inline-block;
}

#hero-banner h1, 
#hero-banner h2 {
    color: white;
}
h3{
    text-align: center;
    font-size: 32px;
}
/* For v2.0 */ 
header {
    margin-top: 16px;
}
header > nav {
    display: flex;
    justify-content: space-around;
}